main {
  width: 900px;
  margin: 0 auto;
  ma
}
.contacts {
  font-style: italic;
  text-align: left;
}

h2 {
  text-decoration: underline;
}
.logo {
  height: 100px;
  width: 100px;}
  .fhoto {
    height: 300px;
    width: 300px;
  ;
}